<div class="container mt-3">
  <p class="badge badge-pill badge-warning py-2 px-3">Serving Notice Period </p>
</div>
<div class="container mt-1">
  <p class="badge badge-pill badge-info py-2 px-3">{{message}}</p>
</div>