<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="main-body">

    <!-- Breadcrumb -->
    <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav> -->
    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="../../assets/gopalakrishnan-pv-profile-pic.jpg" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>Gopalakrishnan PV
                </h4>
                <app-countdown></app-countdown>
                <hr>
                <p class="text-secondary mb-1">Software Test Analyst</p>
                <p class="text-muted mb-1">6 Years</p>
                <p class="text-muted">Infosys.Ltd</p>
                <a href="tel:917736346646"><button class="btn btn-outline-primary mt-2">Call Me</button></a>
                <a href="https://wa.me/917736346646"><button
                    class="btn btn-outline-success ml-2 mt-2">Whatsapp</button></a>
                <a href="https://firebasestorage.googleapis.com/v0/b/gopalakrishnan-pv.appspot.com/o/Gopalakrishnan_Automation_Testing_CV.pdf?alt=media&token=4d497b83-d1a2-4d52-a1ea-8863ff6f4954"
                  target="_blank" class="text-decoration-none"><button class="btn btn-secondary btn-block mt-3">Download
                    my
                    Resume</button></a>
              </div>
            </div>
            <div class="card mt-3">
              <ul class="list-group list-group-flush list-group-horizontal border-0" id="social-icons">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="https://wa.me/917736346646">
                    <h6 class="mb-0 "><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-activity">
                        <path
                          d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                        </path>
                      </svg></h6>
                  </a>
                  <!-- <span class="text-secondary">+91 7736346646</span> -->
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="mailto:gopalakrishnan1505@gmail.com">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-activity">
                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                      </svg></h6>
                  </a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="https://www.linkedin.com/in/gopalakrishnanpv/">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" focusable="false" width="1em" height="1em"
                        style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round">
                          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2a2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
                          <path d="M2 9h4v12H2z" />
                          <circle cx="4" cy="4" r="2" />
                        </g>
                      </svg></h6>
                  </a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="https://github.com/GopalakrishnanPV">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-github mr-2 icon-inline">
                        <path
                          d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                        </path>
                      </svg></h6>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row gutters-sm mb-2">
          <div class="col-sm-12 mb-12">
            <div class="card h-100">
              <h6 class="d-flex align-items-center mb-3 card-header">Achievements
              </h6>
              <div class="card-body">

                <li>Won <b>First Prize in IVS Testathon</b> conducted at the unit level.</li>
                <li>Received <b>Finastra Star Award</b> in the Take Ownership Category</li>
                <li>Received Shining Connect Star Award in Infosys</li>
                <li>Received Crown award for the implementation of SULU.</li>
                <li>Won <b>Third Prize in IVS hackathon</b> conducted at the unit level.</li>
                <li>Mentor for Selenium Automation Session held at the organization level in Finastra.</li>
                <li>Developed <b>Research BOT</b> for automating data point research activities.</li>
                <li>Developed <b>BuildBOT</b> for automating daily build updates.</li>
              </div>
            </div>
          </div>
        </div>
        <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <h6 class="d-flex align-items-center mb-3 card-header">Top Skills
              </h6>
              <div class="card-body">
                <small>Selenium</small>
                <div class="progress mb-3" style="height: 10px">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>API Automation</small>
                <div class="progress mb-3" style="height: 10px">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="72"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>Core Java</small>
                <div class="progress mb-3" style="height: 10px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="89"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>C#</small>
                <div class="progress mb-3" style="height: 10px">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="55"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>Angular 8</small>
                <div class="progress mb-3" style="height: 10px">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>SQL</small>
                <div class="progress mb-3" style="height: 10px">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small>Appium</small>
                <div class="progress mb-3" style="height: 10px">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <h6 class="d-flex align-items-center mb-3 card-header">Other Tools and Technologies
              </h6>
              <table class="table table-striped">
                <tr>
                  <td>TestNG, NUnit, Cucumber</td>
                </tr>
                <tr>
                  <td>Maven, Jenkins, JFrog, </td>
                </tr>
                <tr>
                  <td>Log4J, Extent Reports, Allure</td>
                </tr>
                <tr>
                  <td>Jira, Agile Central</td>
                </tr>
                <tr>
                  <td>Git, GitHub, Bitbucket</td>
                </tr>
                <tr>
                  <td>Intellij, VSCode, Visual Studio and Eclipse</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>